--index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio

flask
Pillow
transformers
pyopenssl
super_image
cuda-python

# --upgrade diffusers[torch]

#pip3 install numpy --pre torch torchvision torchaudio --force-reinstall --index-url https://download.pytorch.org/whl/nightly/cu118
