--pre
torch
torchvision
torchaudio
--force-reinstall
--index-url https://download.pytorch.org/whl/cu118

cuda-python
flask
Pillow
stability_sdk
transformers
pyopenssl
super_image

--upgrade diffusers[torch]

#pip3 install numpy --pre torch torchvision torchaudio --force-reinstall --index-url https://download.pytorch.org/whl/nightly/cu118