.splash {
    z-index: 1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /*display: none; /* hide this if needed */
    transition: all ease-in-out 600ms;
}

.splash-content img {
    align-items: center;
    width: 50vw;
    height: 50vw;
}

.splash-content h1 {
    font-family: 'Segoe UI';
    font-weight: 600;
    color: #2c2d2d;
    font-size: 3vw;
}

.hidden {
    transform: all linear 0.5s;
    display: none;
}

.splash-content {
    transform: scale(0%);
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all linear 1000ms, transform ease-in-out 900ms;
}

.grow {
    transform: scale(100%);
    opacity: 1;
}

.slide {
    transform: translateY(100vh);
}