/** GENERAL **/

* {
    font-family: 'Segoe UI';
}

body {
    overflow-x: hidden;
    z-index: 0;
    width: 100vw;
    margin: 0;
    overflow-y:hidden;
}

/*** SPLASH SCREEN ****/

.splash-screen {
    z-index: 999;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: all ease-in-out 600ms;
    overflow: hidden;
}

.splash-content {
    transform: scale(0%);
    opacity: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transition: all linear 1000ms, transform ease-in-out 900ms;
}

.splash-content img {
    align-items: center;
    width: 50vw;
    max-width: 720px;
}

.splash-content h1 {
    font-family: 'Segoe UI';
    font-weight: 400;
    color: #2c2d2d;
    font-size: 1rem;
}

/* SPLASH SCREEN ANIMATIONS */

.hidden {
    display: none;
}

.grow {
    transform: scale(100%);
    opacity: 1;
}

.slide {
    transform: translateY(100vh);
}

/* MAIN AREA */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

nav {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    background-color: white;
}

nav img {
    margin: 0vw 2vw;
    height: 5vh;
}

/* CAMERA */

#camera-overlay {
    display: none;
    z-index: 500;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}



/* PROMPT AND CANVAS */

#prompt-container {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 75px;
    max-width: 750px;
}

#prompt-container input {
    width: calc(100% - 20px);
    max-width: 750px;
    max-height: 200px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}


#canvas-container {
    position: relative;
    margin: 50px auto;
    width: calc(90% - 4px);
    max-width: 750px;
    aspect-ratio: 1;
    border: solid rgb(100, 100, 100) 2px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#drawing-canvas {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    max-width: 750px;
    border-radius: 10px;
}
  
#output-image {
    z-index: 1;
    opacity: 0;
    position: absolute;
    display: none;
    max-width: 750px;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    transition: opacity ease-in-out 1s;
    object-fit: contain;
}

/* BUTTONS */

button {
    width: 72px;
    height: 72px;
    border-radius: 5vw;
    font-size: 1rem;
    background-color: #0aadff;
    color: white;
    border: none;
    transition: transform ease-in-out 0.5s;
    cursor: pointer;
}

button:active {
    background-color: white;
    border: 2px solid #0aadff;
    color: #0aadff;
}

.flat-button {
    top: 25%;
    right: 0%;
    width: 3rem;
    height: 3rem;
    text-align: center;
    background-color: transparent;
    border: none;
    color: white;
}

.flat-button:active {
    background-color: transparent;
    border: none;
    color: white;
}

#button-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#gen-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#button-container button {
    width: 40%;
    overflow: hidden;
    margin: 1%;
}

#gen-image-button {
    border-radius: 5vw 0vw 0vw 5vw;
}

#search-image-button {
    border-radius: 0vw 5vw 5vw 0vw;
}

#extra-button-container  {
    width: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

#extra-button-container-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#open-camera-button {
    width: 70%;
    border-radius: 5vw 0vw 0vw 5vw;
}

#clear-image-button {
    width: 30%;
    border-radius: 5vw;
}

#purchase-item-button {
    width: 100%;
    border-radius: 0vw 5vw 5vw 0vw;
}

/* LOADER */

#loader {
    display: none;
    z-index: 5;
    opacity: 0;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    transition: opacity ease-in-out 1s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}