<!DOCTYPE html>

<html lang="EN">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='css/clickasnap.svg') }}">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
        <title> Vengeful Vegetables </title>
    </head>
    <nav>
        <img src="{{ url_for('static',filename='images/clickasnap.svg') }}">
        <img src="{{ url_for('static',filename='images/teemill.svg') }}">
        <h1> Vengeful Vegetables </h1>

    </nav>
    <body>
        <form id="inputForm">
            <label for="promptInput">Enter a prompt:</label>
            <input type="text" id="promptInput" name="prompt">
            <button type="submit">Submit</button>
        </form>
        <main> <!-- THIS IS WHERE THE MAIN THINGY IS-->
            <div>
                <div>
                    <canvas> <!-- ADD IMAGE -->
                        
                    </canvas>
                </div>
            </div>
        </main>
        <script>
            document.getElementById('inputForm').addEventListener('submit', function(event) {
                event.preventDefault();

                const prompt = document.getElementById('promptInput').value;

                fetch('/process_prompt', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({prompt: prompt})
                })
                .then(response => {
                    if (response.ok) {
                        console.log('Input sent to Flask server');
                    } else{
                        console.error('Error sending input to Flask server');
                    }
                })
            })
        </script>
    </body>
    <footer>

    </footer>
</html>